<div class="w3-main" style="margin-left:300px;text-align:center">
<span><a routerLink="/recruiter" routerLinkActive="active">Testing</a></span>
  <!-- Header -->
  <header class="w3-container" style="padding-top:125px">
    <h1><b><i class="fa fa-dashboard"></i> Apply Below</b></h1>
  </header>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.submit)" style="text-align:center">
    <table style="width:100%;">
        <tr>
            <h3> First Name  <input type="text" name="firstName" id='firstName' [(ngModel)]="applicant.firstName" required></h3>
        </tr>
        <tr>
            <h3> Last Name  <input type="text" name="lastName" id='lastName' [(ngModel)]="applicant.lastName" required></h3>
        </tr>
        <tr>
            <h3> Email Address  <input type="text" name="emailAddress" id='emailAddress' [(ngModel)]="applicant.emailAddress" required></h3>
        </tr>
        <tr>
            <h3> GitHub Account  <input type="text" name="gitHubAccount" id='gitHubAccount' [(ngModel)]="applicant.gitHubAccount" required></h3>
        </tr>
        <tr>
            <h3><button type="submit">Submit</button></h3>
        </tr>
    </table>
  </form>
</div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
